.container {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.icon {
    font-size: 30px;
}

.content {
    text-align: center;
}

.title {
    font-weight: 600;
}

